<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ProfilingSuite" parallel="none" verbose="2">
    <test name="Unit Tests">
        <groups>
            <run>
                <include name="unit"/>
                <exclude name="slow"/>
                <exclude name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="com.gradepath.content.profiling.algorithm"/>
            <package name="com.gradepath.content.profiling"/>
            <package name="com.gradepath.content.recommendation.profile"/>
        </packages>
    </test>

    <test name="Integration Tests">
        <groups>
            <run>
                <include name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="com.gradepath.content.profiling"/>
        </packages>
    </test>
</suite>
